<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org/"><em>Online Book Shop</em></a> is an
  <a href="http://www.railstutorial.org/book">application</a> developed with Ruby on Rails</a>.
  
</p>
