@import "foundation/components/buttons"; 
@import "foundation/components/forms";
@import "foundation/components/inline-lists";


/* mixins, variables, etc. */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
// c. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -


 $font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

 $font-weight-normal: normal;


 $white       : #FFFFFF;
 $ghost       : #FAFAFA;
 $snow        : #F9F9F9;
 $vapor       : #F6F6F6;
 $white-smoke : #F5F5F5;
 $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
 $gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
 $base        : #AAAAAA;
 $aluminum    : #999999;
 $jumbo       : #888888;
 $monsoon     : #777777;
 $steel       : #666666;
 $charcoal    : #555555;
 $tuatara     : #444444;
 $oil         : #333333;
 $jet         : #222222;
 $black       : #000000;


 $alert-color: #f04124;
 $body-font-family: $font-family-sans-serif;

 $global-radius: 5px;

 $include-html-type-classes: $include-html-classes;
 $paragraph-font-size: 1rem;

 $include-html-button-classes: $include-html-classes;
 $button-bg-color: #FF9900;
 $button-bg-hover: #FF0000;
 $include-pagination-classes: $include-html-classes;

 $pagination-height: rem-calc(30);
 $pagination-margin: rem-calc(-5);
 $pagination-li-float: $default-float;
 $pagination-li-height: rem-calc(24);
 $pagination-li-font-color: $jet;
 $pagination-li-font-size: rem-calc(16);
 $pagination-li-margin: rem-calc(5);

 $pagination-link-pad: rem-calc(1 10 1);
 $pagination-link-font-color: #FF9900;
 $pagination-link-active-bg: $primary-color;
 $pagination-link-current-active-bg: #248F24;


 $include-html-table-classes: $include-html-classes;

 $table-bg: #FFE0C2;

 $table-border-size: 2px;
 $table-border-color: $jet;

 $table-head-font-size: rem-calc(20);
 $table-row-padding: rem-calc(9 10);
 
 $table-row-font-size: rem-calc(16);
 $table-line-height: rem-calc(20);
 $table-display: table-cell;

 $include-html-top-bar-classes: $include-html-classes;

 $topbar-bg: #FF9900 !default;
 $topbar-height: rem-calc(60);
 $topbar-margin-bottom: 0;
 $topbar-title-weight: $font-weight-bold;
 $topbar-title-font-size: rem-calc(30);


 $topbar-link-font-size: rem-calc(20);
 $topbar-link-hover-lightness: 10%; // Darken by 10%

 $topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
 $topbar-link-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 $topbar-menu-link-font-size: rem-calc(15);


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $monsoon;
}
h4 {
  margin-bottom: 20px;
  padding: 15px;
  border-bottom: 2px solid #FF9900;
  text-align: left;
 
  color: $jet;
}



#footer {
   height:30px;
   width:100%;
   background:#ccc;
}

/* Buttons */


.button {
background-color: #FF9900;
}

ul.products{
    display: inline-block;
    list-style: none;
    width: 300px;
    vertical-align:top;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 15px;
  
}
 

ul.products li{
 padding: 10px;
 
}

.price, .isbn, .author{
 font-weight:bold;
}

.desc, p.author{
 font-size: 12px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 text-align: justify;
}




@import 'foundation';
