@import "foundation/components/buttons"; 
@import "foundation/components/forms";
/* mixins, variables, etc. */

$white       : #FFFFFF;
$monsoon     : #777777;
$charcoal    : #555555;
$jet         : #222222;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $monsoon;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* Navigation */

$topbar-bg-color: #212d48;

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $jet;
  color: $monsoon;
  a {
    color: $charcoal;
    &:hover {
      color: $jet;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* Error message styling */

$input-error-message-padding: rem-calc(6 9 9);
$input-error-message-top: -1px;
$input-error-message-font-size: rem-calc(12);
$input-error-message-font-weight: $font-weight-normal;
$input-error-message-font-style: italic;
$input-error-message-font-color: $white;
$input-error-message-bg-color: $alert-color;


/* Shopping cart */

.shopping_cart {
  border-left: 3px solid #666;
  color: $jet;
  position: fixed;
  bottom: 0;
  right: 0;
  
  height: 100%;
  padding: 5px 10px;
}
#side {
		float: left;
		padding: 1em 2em;
		width: 13em;
		background: #141;

		ul {
			padding: 0;

			li {
				list-style: none;
				color: white;

				a {
					color: #bfb;
					font-size: small;
				}
			}
		}
	}

.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 140px;
		height: 160px;
	}

	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			color: #244;
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		font-size: x-small;
		text-align: right;
		padding-left: 1em;
	}
	.list_line_even {
		background: #e0f8f8;
	}

	.list_line_odd {
		background: #f8b0f8;
	}
}
.store {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}

	/* An entry in the store catalog */

	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;

		img {
			width: 80px;
			margin-right: 5px;
			margin-bottom: 5px;
			position: absolute;
		}

		h3 {
			font-size: 120%;
			font-family: sans-serif;
			margin-left: 100px;
			margin-top: 0;
			margin-bottom: 2px;
			color: #227;
		}

		p, div.price_line {
			margin-left: 100px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;

			form, div {
				display: inline;
			}
		}

		.price {
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
		}
	}
}